/* Fart */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300&display=swap');


@font-face {
    font-family: 'Cherry Bomb One';
    src: url('fonts/CherryBombOne-Regular.ttf') format('truetype'); /* Adjust path and format */
    font-weight: normal;
    font-style: normal;
  }


*{
    padding: 0;
    margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    font-family: "Poppins", serif;
    color:whitesmoke;
    margin: 0;
    padding: 0;
    background: #222233;
    height: 100%;

}

html{
    scroll-behavior: smooth;
}

/* Transition (woh) */
a, .btn{
    transition: all 300ms ease;
}

/*Desktop Nav*/

nav, .nav-links{
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0px 30px;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    
}

a {
    color: #b296c2;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(60, 50, 107);
    text-decoration: underline;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.logo:hover{
    cursor: pointer;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(27, 27, 27);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.fatass{
    cursor: pointer;
}


/* Section: Hero thingamabob */

#hero-container {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    height: 55vh;
    background-color: #3d3956; 
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 110px;
    padding: 10px;
    overflow: hidden;
    position: relative;
  }

.hero-text {
    flex: 1;
    text-align: center;
    justify-content: center;
  }

#hero-container > * {
    background-color: transparent;
  }

#hero-container {
    background-color: #3d3956;
  }

.hero-text h1,
.hero-text h2,
.hero-description p,
.creature img {
    background-color: transparent;
}

.hero-text h1 {
    font-size: 2.5em;
    margin-top: -60px;
    color: #b296c2;
}

.hero-text h2 {
    font-size: 2.5em;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-top: -20px;
}
  
.my-heading span:first-child{
      font-size: 4rem;
      color: #b296c2;
      background-color: transparent;
  }

.my-heading span:last-child { 
    font-family: 'Cherry Bomb One', sans-serif;
    font-size: 4rem;
    color: #ffdeb0;
    background-color: transparent;
    font-weight: 500;

  }

  .my-heading span:last-child:hover{
    color: #ffe281;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    transition: all ease 600ms
  }
  
.creature {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1;
    max-width: 50%;
    min-width: 25%;
    margin-right: -150px;
    margin-top: 50px;
    overflow: hidden;

  }
  
  .creature img {
    max-height: 150%; 
    max-width: 100%;
    object-fit: contain;
    display: block;
  }

  .hero-description p{
    font-size: 28px;
    color: #b296c2;
    background-color: #3d3956
  }

  .hero-links{
    background-color: transparent;
  }

  .hero-description .highlight{
    color: #ffdeb0;
    font-weight: bold;
    background-color: transparent;
  }

  .hero-links a {
    display: inline-block;
    padding: 15px 50px;
    border: black solid 3px;
    margin-top: 40px;
    border-radius: 40px;
    font-size: 1.5rem;
    margin-right: 20px;
    text-decoration: none;
  }
  
  .contact-button {
    background-color: #1e1e2d;
    color: #ffdeb0;
    font-weight: bold;
  }

  .gallery-button {
    background-color: #b4acd3;
    color: #1e1e2d;
    font-weight: bold;
  }

  .contact-button:hover {
    background-color: rgb(20, 20, 27);
    color: #ffdc67;
  }

  .gallery-button:hover {
    background-color: rgb(20, 20, 27);
    color: #b4acd3;
    
  }

  /* Content Section */

.star-seperator{
  display: flex;
  justify-content: center;
  padding: 3rem;
}

#content-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 40px;
}

#content-container img {
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  border: white solid 5px;
  cursor: pointer;
}

.content-title{
  font-family: 'Cherry Bomb One', sans-serif;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-bottom: 30px;
  color: #ffdeb0;
}

/* Contact Section */

#contact-section{
  display: flex;
  justify-content: space-evenly;
  padding: 10rem;
  align-items: center;
  text-align: center;
}

.contact-left-profile{
  flex: 3;
}

.contact-left-profile img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.contact-right-text{
  flex: 5;
}

.contact-right-text h1 {
  font-weight: 700;
  font-family: "Bodoni Moda", serif;;
  font-size: 4em;
  color: #ffdeb0;
}

.contact-right-text p{
  font-size: 2em;
  color: #b296c2;
  font-weight: 500;
  padding: 1rem;
}

.contact-right-text .contact-highlight{
  color:#ffdeb0;
  font-weight: 600;
}

.contact-section-button{
  display: inline-block;
  padding: 20px 60px;
  border: black solid 3px;
  margin-top: 40px;
  border-radius: 20px;
  font-size: 1.5rem;
  margin-right: 20px;
  text-decoration: none;
  background-color: #b4acd3;
  color: #161822;
  font-weight: 800;
  font-size: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.contact-section-button:hover{
  text-decoration: none;
  background-color: #161822;
  color: #b4acd3;
  
}