/* Fart */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300&display=swap');


@font-face {
    font-family: 'Cherry Bomb One';
    src: url('fonts/CherryBombOne-Regular.ttf') format('truetype'); /* Adjust path and format */
    font-weight: normal;
    font-style: normal;
  }


*{
    padding: 0;
    margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    font-family: "Poppins", serif;
    color:whitesmoke;
    margin: 0;
    padding: 0;
    background: #222233;
    height: 100%;

}

html{
    scroll-behavior: smooth;
}

/* Transition (woh) */
a, .btn{
    transition: all 300ms ease;
}

/*Desktop Nav*/

nav, .nav-links{
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0px 30px;
}

.nav-links {
    gap: 1.5rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #b296c2;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(60, 50, 107);
    text-decoration: underline;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.logo:hover{
    cursor: pointer;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(27, 27, 27);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.fatass{
    cursor: pointer;
}


/* Section: Hero thingamabob */

#hero-container {
    display: flex;
    align-items: center;
    max-width: 90%;
    height: 55vh;
    background-color: #3d3956; 
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 110px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }

.hero-text {
    flex: 1;
    text-align: center;
    justify-content: center;
  }

#hero-container > * {
    background-color: transparent;
  }

#hero-container {
    background-color: #3d3956;
  }

.hero-text h1,
.hero-text h2,
.hero-description p,
.creature img {
    background-color: transparent;
    text-align: center;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-top: -60px;
    color: #b296c2;
}

.hero-text h2 {
    font-size: 2.5rem;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-top: -20px;
}

.my-heading span{
  font-size: 4rem;
}

.my-heading span:first-child{
      color: #b296c2;
      background-color: transparent;
  }

.my-heading span:last-child { 
    font-family: 'Cherry Bomb One', sans-serif;
    color: #ffdeb0;
    background-color: transparent;
    font-weight: 500;
  }

  .my-heading span:last-child:hover{
    color: #ffe281;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    transition: all ease 600ms
  }
  
.creature {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1;
    max-width: 50%;
    min-width: 25%;
    margin-right: -150px;
    margin-top: 50px;
    overflow: hidden;

  }
  
  .creature img {
    max-height: 150%; 
    max-width: 100%;
    object-fit: contain;
    display: block;
  }

  .hero-description p{
    font-size: 28px;
    color: #b296c2;
    background-color: #3d3956
  }

  .hero-links{
    background-color: transparent;
  }

  .hero-description .highlight{
    color: #ffdeb0;
    font-weight: bold;
    background-color: transparent;
  }

  .hero-links a {
    display: inline-block;
    padding: 15px 50px;
    border: black solid 3px;
    margin-top: 40px;
    border-radius: 40px;
    font-size: 1.5rem;
    margin-right: 20px;
    text-decoration: none;
  }
  
  .contact-button {
    background-color: #1e1e2d;
    color: #ffdeb0;
    font-weight: bold;
  }

  .gallery-button {
    background-color: #b4acd3;
    color: #1e1e2d;
    font-weight: bold;
  }

  .contact-button:hover {
    background-color: rgb(20, 20, 27);
    color: #ffdc67;
  }

  .gallery-button:hover {
    background-color: rgb(20, 20, 27);
    color: #b4acd3;
    
  }

  /* Content Section */

.star-seperator{
  display: flex;
  justify-content: center;
  padding: 3rem;
}

#content-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

#content-container img {
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  border: white solid 5px;
  cursor: pointer;
  max-height: 300px;
  
}

.content-title{
  font-family: 'Cherry Bomb One', sans-serif;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  padding: 1em;
  color: #ffdeb0;
  text-align: center;
}

/* Contact Section */

#contact-section{
  display: flex;
  justify-content: space-evenly;
  padding: 10rem;
  align-items: center;
  text-align: center;
}

.contact-left-profile{
  flex: 3;
}

.contact-left-profile img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.contact-right-text{ 
  flex: 5;
}

.contact-right-text h2 {
  font-weight: 700;
  font-family: "Bodoni Moda", serif;
  font-size: 4em;
  color: #ffdeb0;
}

.contact-right-text p{
  font-size: 2em;
  color: #b296c2;
  font-weight: 500;
  padding: 1rem;
}

.contact-right-text .contact-highlight{
  color:#ffdeb0;
  font-weight: 600;
}

.contact-section-button{
  display: inline-block;
  padding: 0.8em 2em;
  border: black solid 3px;
  margin-top: 40px;
  border-radius: 20px;
  font-size: 1.5rem;
  margin-right: 20px;
  text-decoration: none;
  background-color: #b4acd3;
  color: #161822;
  font-weight: 800;
  font-size: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  justify-content: center;
}

.contact-section-button:hover{
  text-decoration: none;
  background-color: #161822;
  color: #b4acd3;
}

#footer-section{
 padding: 1.5rem;
}

.footer-images{
  display: flex;
  justify-content: space-between;
}

.footer-logo{
  width: 300px;
  height: 50px;
  cursor: pointer;
}

.social-media{
  display: flex;
  gap: 20px;
}

.fa-instagram{
  font-size: 3.5rem;
  color: #ffc59a;
  cursor: pointer;
}

.fa-twitter{
  font-size: 3.5rem;
  color: #ffc59a;
  cursor: pointer;
}

/* Gallery thing */

#gallery-section{
  text-align: center;
  padding: 20px;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em; 
  justify-content: center;
  max-width: 900px;
  margin: 0 auto; 
  padding: 20px;
}

.gallery-images img{
  height: auto;
  max-width: 100%;
  border-radius: 10px;
}

#gallery-section h1{
  font-family: 'Cherry Bomb One', sans-serif;
  font-size: 4em;
  font-weight: 400;
  color: #ffdeb0;
}

#contact-medias{
  display: flex;
  justify-content: center;
  gap: 5em;
  list-style: none;
}

.contact-title{
  display: flex;
  justify-content: center;
  font-size: 4rem;
  margin-top: 50px;
  font-family: "Bodoni Moda", serif;
  font-weight: 800;
  color: #ffdeb0;
  text-align: center;
}

.contact-text{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
  color: #cbb3d8;
}

#contact-medias{
  margin-top: 100px;
}

.contact-page-section{
  padding: 30px;
}

#contact-medias .fa-instagram{
  font-size: 2em;
  cursor: pointer;
}

#contact-medias .fa-twitter{
  font-size: 2em;
  cursor: pointer;
}

#contact-medias .fa-discord{
  color: #ffc59a;
  font-size: 2em;
  cursor: pointer;
}

.media-text{
  margin-left: 0.5em;
  font-family: "Poppins", serif;
}

#footer-contact-section{
  margin-top: 3em;
  padding: 20px;
}

@media (max-width: 800px) {

  /* Gallery Screens */

  .gallery-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 0 auto; 
    max-width: 500px;
    padding: 20px;
  }

  .gallery-images img{
    max-height: 200px;
  }

  /* Index.html */

  .contact-left-profile{
    display: none;
    flex: 0;
  }

  .fatass{
    display: none;
  }

  #hero-container {
    display: flex;
    justify-content: center;
    padding: 40px; 
    align-items: center;
    max-width: 90%;
    overflow: visible;
    background-color: transparent; 
    margin-top: 10rem;
    text-align: center;
  }

  .nav-links {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
  }

  .creature{
    display: none;
  }
  
  .logo{
    display: none;
  }

  .hero-text{
    text-align: center;
    width: 100%;
    order: 1;
    font-size: 2.5em; 
  }

  .hero-description p{
    background-color: transparent;
    font-size: 1.4rem;
  }

  .my-heading span{
    font-size: 3rem;
  }

  .contact-right-text h1{
    flex: 1;
    font-size: 4rem;
  }

  .contact-right-text p{
    font-size: 1.5em;
    padding: 0px;
  }

  .contact-section-button{
    padding: 0.8em 2em;
    font-size: 1.5rem;
  }

  /* Footer */

  .footer-images{
    max-height: 10px;
  }

  .footer-star{
    display: none;
  }

  .footer-logo{
    max-height: 30px;
    max-width: 200px;
  }

  #footer-section i{
    font-size: 2em;
  }

  /* Brief Content Section */

  #content-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 500px;
    padding: 3em;
  }

  #content-container img{
    max-height: 200px;
    gap: 10px;
  }

  .content-title{
    margin-top: 1.5em;
  }

  .star-seperator{
    display: none;
  }

  /* Contact.html */

  #contact-medias{
    font-size: 1.8rem;
    gap: 2em;
  }

  .contact-title{
    font-size: 3.5rem;
  }

  .contact-text{
    font-size: 1.5rem;
  }

  .media-text{
    display: none;
  }
  .footer-images i{
    font-size: 2.5rem;
  }
}

